################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Driver/Driver.Infrastructure/obj
/Driver/Driver.Domain/obj
/Driver/Driver.API/bin/Debug/net6.0
/Driver/Driver.API/obj
/Driver/Driver.Domain/bin/Debug/net6.0
/Driver/Driver.Infrastructure/bin/Debug/net6.0
/Driver.Notification/Driver.Notification/bin/Debug/net6.0
/Driver.Notification/Driver.Notification/obj
/Driver.Auth/Driver.Auth.API/bin/Debug/net6.0
/Driver.Auth/Driver.Auth.API/obj
/Driver.Auth/Driver.Auth.Domain/bin/Debug/net6.0
/Driver.Auth/Driver.Auth.Domain/obj
/Driver.Auth/Driver.Auth.Infrastructure/bin/Debug/net6.0
/Driver.Auth/Driver.Auth.Infrastructure/obj
